<div class="card m-4">
        <h5 class="card-header" style="text-align: center;">Gerar Simulado</h5>
        <div class="card-body">
                <form [formGroup]="formularioDeUsuario" (ngSubmit)="criarSimulado()">

                        <div class="form-row">
                                <!--Input Nome-->
                                <div class="col-md mb-1">
                                        <label>Nome do Simulado<span class="asterisco">*</span></label>
                                        <input type="text" formControlName="nome" class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid':!f.nome.pristine && f.nome.errors, 'is-valid': !f.nome.pristine && !f.nome.errors}" />
                                        <div *ngIf="!f.nome.pristine && f.nome.errors" class="invalid-feedback">
                                                <div *ngIf="f.nome.errors.required">Nome é obrigatório.</div>
                                        </div>
                                        <div class="valid-feedback">
                                                Tudo certo!
                                        </div>
                                </div>
                        </div>

                        <div class="form-row">
                                <!--Input da Descrição-->
                                <div class="col-md mb-1">
                                        <label>Descrição do Simulado</label>
                                        <textarea formControlName="descricao" type="text" style="resize: none;"
                                                class="form-control" id="exampleFormControlTextarea1"
                                                rows="3"></textarea>
                                </div>
                        </div>

                        <div class="form-row">
                                <!--Input da Tipo Simulado-->
                                <div class="col-md mb-1">
                                        <label>Tipo do Simulado<span class="asterisco">*</span></label>
                                        <select (change)="getTipo($event)" formControlName="tipoSimulado"
                                                class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': !f.tipoSimulado.pristine && f.tipoSimulado.errors, 'is-valid': !f.tipoSimulado.errors }">
                                                <option value="" selected disabled hidden>Escolha uma opção</option>
                                                <option value="0">Personalizado</option>
                                                <option value="1">Exame Nacional de Desempenho dos Estudantes (ENADE)
                                                </option>
                                                <option value="2">Exame Nacional para ingresso no Mestrado e Doutorado
                                                        em Computação (POSCOMP)</option>
                                        </select>
                                        <div *ngIf="!f.tipoSimulado.pristine && f.tipoSimulado.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.tipoSimulado.errors.required">Tipo de Simulado é
                                                        obrigatório.</div>
                                        </div>
                                        <div class="valid-feedback">
                                                Tudo certo!
                                        </div>
                                </div>
                        </div>

                        <div *ngIf="f.tipoSimulado.value == '0'" class="form-row">
                                <div class="col-md mb">
                                        <label>Selecione a quantidade de questões de cada simulado</label>
                                </div>
                        </div>
                        <!--Input de quantidade de questões do POSCOMP-->
                        <div *ngIf="f.tipoSimulado.value == '0'" class="form-row">
                                <div class="col-md-2 mb-2">
                                        <label>Questões do POSCOMP<span class="asterisco">*</span></label>
                                        <input type="number" formControlName="quantidadePoscomp" min="10" max="100"
                                                class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': !f.quantidadePoscomp.pristine && f.quantidadePoscomp.errors, 'is-valid': !f.quantidadePoscomp.errors }" />
                                        <div *ngIf="!f.quantidadePoscomp.pristine && f.quantidadePoscomp.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.quantidadePoscomp.errors.required">Quantidade de questões
                                                        é obrigatória.</div>
                                                <div *ngIf="f.quantidadePoscomp.errors.minimo">Deve ser no mínimo 1
                                                        questão</div>
                                                <div *ngIf="f.quantidadePoscomp.errors.maximo">Deve ser no máximo 50
                                                        questões</div>
                                        </div>
                                        <div class="valid-feedback">
                                                Tudo certo!
                                        </div>
                                </div>
                        </div>

                        <!--Input de quantidade de questões do ENADE-->
                        <div *ngIf="f.tipoSimulado.value == '0'" class="form-row">
                                <div class="col-md-2 mb-2">
                                        <label>Questões do ENADE<span class="asterisco">*</span></label>
                                        <input type="number" formControlName="quantidadeEnade" min="10" max="100"
                                                class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': !f.quantidadeEnade.pristine && f.quantidadeEnade.errors, 'is-valid': !f.quantidadeEnade.errors }" />
                                        <div *ngIf="!f.quantidadeEnade.pristine && f.quantidadeEnade.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.quantidadeEnade.errors.required">Quantidade de questões
                                                        é obrigatória.</div>
                                                <div *ngIf="f.quantidadeEnade.errors.minimo">Deve ser no mínimo 1
                                                        questão</div>
                                                <div *ngIf="f.quantidadeEnade.errors.maximo">Deve ser no máximo 50
                                                        questões</div>
                                        </div>
                                        <div class="valid-feedback">
                                                Tudo certo!
                                        </div>
                                </div>
                        </div>

                        <div *ngIf="f.tipoSimulado.value == '0'" class="form-row">

                                <!--Input da Tempo do Simulado-->
                                <div class="col-md-2 mb-2">
                                        <label>Tempo (minutos)<span class="asterisco">*</span></label>
                                        <!--TODO ver se tem como não deixar digitar o numero maior-->
                                        <input type="number"  formControlName="tempoSimulado"
                                                class="form-control form-control-sm" id="quantity" name="tempoSimulado"
                                                min="10" max="240"
                                                [ngClass]="{ 'is-invalid': !f.tempoSimulado.pristine && f.tempoSimulado.errors, 'is-valid': !f.tempoSimulado.errors }" />
                                        <div *ngIf="!f.tempoSimulado.pristine && f.tempoSimulado.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.tempoSimulado.errors.required">Tempo de simulado é
                                                        obrigatório.</div>
                                                <div *ngIf="f.tempoSimulado.errors.minimo">Deve ser no mínimo 10 minutos
                                                </div>
                                                <div *ngIf="f.tempoSimulado.errors.maximo">Deve ser no máximo 480
                                                        minutos</div>
                                        </div>
                                        <div class="valid-feedback">
                                                Tudo certo!
                                        </div>
                                </div>
                        </div>
                        <!--Botões do formulário-->
                        <div class="text-center">
                                <button style="float: right;" [disabled]="!formularioDeUsuario.valid">
                                        <span *ngIf="carregar"
                                                class="spinner-border spinner-border-sm mr-1"></span>Gerar
                                        Simulado</button>
                                <button style="float: right;" type="button"
                                        routerLink="/aluno/listasimulados">Cancelar</button>
                        </div>
                </form>
        </div>
</div>