<div class="card m-4">
    <h5 class="card-header" style="text-align: center;">Simulado Personalizado</h5>
    <div class="card-body">
        <form [formGroup]="formularioDeUsuario" (ngSubmit)="gerarSimulado()">

            <div class="form-row">
                <!--Input Nome-->
                <div class="col-md mb-1">
                    <label>Nome do Simulado<span class="asterisco">*</span></label>
                    <input type="text" formControlName="nome" class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid':!f.nome.pristine && f.nome.errors, 'is-valid': !f.nome.pristine && !f.nome.errors}" />
                    <div *ngIf="!f.nome.pristine && f.nome.errors" class="invalid-feedback">
                        <div *ngIf="f.nome.errors.required">Nome é obrigatório.</div>
                    </div>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <!--Input da Descrição-->
                <div class="col-md mb-1">
                    <label>Descrição do Simulado</label>
                    <textarea type="text" style="resize: none;" class="form-control" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
            </div>

            <div class="form-row">
                <!--Input da Tipo Simulado-->
                <div class="col-md mb-1">
                    <label>Tipo do Simulado<span class="asterisco">*</span></label>
                    <select formControlName="tipoSimulado" class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': !f.tipoSimulado.pristine && f.tipoSimulado.errors, 'is-valid': !f.tipoSimulado.errors }">
                        <option value="" selected disabled hidden>Escolha uma opção</option>
                        <option value="1">ENADE</option>
                        <option value="2">POSCOMP</option>
                        <option value="2">Ambos</option>
                    </select>
                    <div *ngIf="!f.tipoSimulado.pristine && f.tipoSimulado.errors" class="invalid-feedback">
                        <div *ngIf="f.tipoSimulado.errors.required">Tipo de Simulado é obrigatório.</div>
                    </div>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
            </div>

            <!--FIXME ver a melhor forma que fica posicionado os proximos dois inputs-->
            <div class="form-row">
                <!--Input da Quantidade de Questões-->
                <div class="col-md mb-1">
                    <label>Número de Questões<span class="asterisco">*</span></label>
                    <!--TODO ver se tem como não deixar digitar o numero maior-->
                    <input type="number" style="width: 100px;" formControlName="quantidadeQuestoes"
                        class="form-control form-control-sm" id="quantity" name="quantidadeQuestoes" min="10" max="70"
                        [ngClass]="{ 'is-valid': !f.quantidadeQuestoes.pristine && !f.quantidadeQuestoes.errors}" />
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <!--Input da Tempo do Simulado-->
                <div class="col-md mb-1">
                    <label>Tempo do Simulado (minutos)<span class="asterisco">*</span></label>
                    <!--TODO ver se tem como não deixar digitar o numero maior-->
                    <input type="number" style="width: 100px;" formControlName="tempoSimulado"
                        class="form-control form-control-sm" id="quantity" name="tempoSimulado" min="10" max="120"
                        [ngClass]="{ 'is-valid': !f.tempoSimulado.pristine && !f.tempoSimulado.errors}" />
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                </div>
            </div>
            <!--Botões do formulário-->
            <div class="text-center">
                <button style="float: right;" [disabled]="!formularioDeUsuario.valid">
                    <span *ngIf="carregar" class="spinner-border spinner-border-sm mr-1"></span>Gerar Simulado</button>
            </div>
        </form>
    </div>
</div>