<div class="card m-4">
  <div class="card-header">
    <div class="row">
      <div class="col-md-4 mb-1">
        <h5>Sala</h5>
        <select class="form-control form-control" [(ngModel)]="salaSelecionada" (change)="buscarListaSimulados()">
          <option [ngValue]="undefined" selected disabled hidden>Selecione uma sala</option>
          <option *ngFor="let item of listaSalas; let i = index" [ngValue]="item">{{item.Nome}}</option>
        </select>
      </div>

      <div *ngIf="salaSelecionadaBoolean" class="col-md-4 mb-1">
        <h5>Simulado</h5>
        <select class="form-control form-control" [(ngModel)]="simuladoSelecionado"
          (change)="buscarResultadoSimulado()">
          <option [ngValue]="undefined" selected disabled hidden>Selecione um simulado</option>
          <option *ngFor="let item of listaSimulados; let i = index" [ngValue]="item">{{item.Nome}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="simuladoSelecionadoBoolean && quantidadeResposta != 0" class="card-body" style="border-radius: 10px;">
      Colocar o desempenho geral da simulado aqui
    </div>
    <div class="align-items-center d-flex justify-content-center text-muted" style="height: 60vh; text-align: center;"
      *ngIf="!salaSelecionadaBoolean">Selecione uma sala para poder ver a lista de simulados</div>
    <div class="align-items-center d-flex justify-content-center text-muted" style="height: 60vh; text-align: center;"
      *ngIf="!simuladoSelecionadoBoolean && salaSelecionadaBoolean">Selecione um simulado para ver o desempenho</div>
    <div class="align-items-center d-flex justify-content-center text-muted" style="height: 60vh; text-align: center;"
      *ngIf="simuladoSelecionadoBoolean && quantidadeResposta == 0">Nenhum envio foi realizado para esse simulado.</div>
  </div>

  <div class="card-footer">
    <button style="float: right;" [disabled]="!simuladoSelecionadoBoolean || quantidadeResposta == 0" (click)="buscarDesempenhoAlunos()"><span
        *ngIf="carregar" class="spinner-border spinner-border-sm mr-1"></span>Conferir desempenho individual</button>
  </div>
</div>