<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="loginForm"  class="box">
                <!--Imagem IFSC-->
                <div>
                    <img class="img" src="../../assets/img/logo_ifsc.png">
                </div>
                <!--Informações para o usuário-->
                <div>
                    <p class="info">Por favor, entre com seu CPF e senha.</p>
                </div>
                <!--Input do CPF-->
                <div class="form-group field">
                    <input type="text" formControlName="cpf" class="form-control"
                        [ngClass]="{ 'is-invalid': clicado && f.cpf.errors }" placeholder="000.000.000-00">
                    <div *ngIf="clicado && f.cpf.errors" class="invalid-feedback">
                        <div *ngIf="f.cpf.errors.required">Insira o CPF</div>
                    </div>
                </div>
                <!--Input da Senha-->
                <div class="form-group field">
                    <input type="password" formControlName="senha" class="form-control"
                        [ngClass]="{ 'is-invalid': clicado && f.senha.errors }" placeholder="Senha">
                        <div *ngIf="clicado && f.senha.errors" class="invalid-feedback">
                            <div *ngIf="f.senha.errors.required">Insira a senha</div>
                        </div>
                </div>

                <div>
                    <div>
                        <input (click)="enviar()" type="submit" name="" value="Entrar" href="#">
                    </div>
                    <div>
                        <input (click)="sair()" type="submit" name="" value="Cadastre-se" href="#">
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<!-- TODO
    Colocar mascara no campo CPF
    Colocar verificação campo em branco
    Desabilitar o campo senha enquanto n houver CPF válido, e habilitar quando for válido
    Mudar posição texto input
-->