/*Importa o estilo global*/
@import '../../../styles.css';

/*Centraliza todo o conteúdo na esquerda*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
 }

/*Estilo da Box*/
.box {
    width: 400px;
    padding: 30px;
    background:rgb(238,241,236);
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
}

/*Centraliza e coloca os botões lado a lado*/
div > div {
    display: inline-block;
}

/*Muda o estilo do botão quando o mesmo estiver desabilitado*/
.box button:disabled{
    border: 2px solid gray;
    color: gray;
    cursor: unset;
}

/*Muda a cor de fundo e da letra quando o usuário passa o mouse em cima do botão*/
.box button:hover:enabled {
    background: rgb(47,158,64);
    color: rgb(238,241,236);
}

/*Estilo e tamanho da Imagem*/
.img{
    width: 150px;
    height: 218px;
    margin: 0 10px;
    vertical-align: bottom;
}

/*Muda o estilo da informção abaixo da logo do ifsc*/
.info{
    color:black;
    font-weight: bolder;
}
