/*Centraliza todo o conteúdo na esquerda*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
 }

/*Estilo da Box*/
.box {
    width: 400px;
    padding: 30px;
    background:rgb(238,241,236);
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}

/*Estilo dos Inputs*/
.box input[type="text"],
.box input[type="password"] {
    width: 300px;
    margin: 5px auto;
}

/*Centraliza e coloca os botões lado a lado*/
div > div {
    display: inline-block;
}

/*Estilo e tamanho da logo do IFSC*/
.img{
    width: 150px;
    height: 218px;
    margin: 0 10px;
    vertical-align: bottom;
}

/*Muda o estilo da informção abaixo da logo do IFSC*/
.info{
    color:black;
    font-weight: bolder;
}
