.main-section{
    margin: 0 center;
    margin-top: 20px;
    padding: 0;
    display: inline-block;
}

.modal-content{
   background:rgb(238,241,236);
   text-align: center;
   border-radius: 10px;
   opacity: 0.9;
   padding: 0 18px;
}

.logo{
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Muda o estilo da informção abaixo da logo do IFSC*/
.info{
    color:black;
    font-weight: bolder;
}

/*Estilo dos Inputs*/
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 250px;
    margin: 5px auto;
}

.alert{
    margin-bottom: 20px;
}



