<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form [formGroup]="formularioDeUsuario" class="box">

                <!--Imagem IFSC-->
                <div>
                    <img class="img" src="../../assets/img/logo_ifsc.png">
                </div>

                <!--Informações para o usuário-->
                <div>
                    <p class="info">Por favor, entre com seu CPF e senha.</p>
                </div>

                <!--Input do CPF-->
                <div class="form-group">
                    <input type="text" formControlName="cpf" class="form-control" placeholder="000.000.000-00"
                        mask="000.000.000-00" [ngClass]="{ 'is-invalid':!f.cpf.pristine && f.cpf.errors }">
                    <div *ngIf="!f.cpf.pristine && f.cpf.errors" class="invalid-feedback">
                        <div *ngIf="f.cpf.errors.cpfInvalido">
                            Digite um CPF válido
                        </div>
                        <div *ngIf="f.cpf.errors.required">
                            CPF é obrigatório.
                        </div>
                    </div>
                </div>

                <!--Input da Senha-->
                <div class="form-group">
                    <input type="password" formControlName="senha" class="form-control" placeholder="Senha"
                        [ngClass]="{ 'is-invalid': !f.senha.pristine && f.senha.errors }">
                    <div *ngIf="!f.senha.pristine && f.senha.errors" class="invalid-feedback">
                        <div *ngIf="f.senha.errors.required">
                            Senha é obrigatória.
                        </div>
                    </div>
                </div>

                <!--Botões de envio-->
                <div>
                    <div>
                        <button (click)="login()" [disabled]="!formularioDeUsuario.valid">
                            <span *ngIf="carregar" class="spinner-border spinner-border-sm mr-1"></span>
                            Entrar</button>
                    </div>
                    <div>
                        <button type="button" routerLink="/cadastro">
                            Cadastre-se</button>

                    </div>
                </div>

                <!--Mensagem para caso os dados inseridos pelo usuário esteja incorreto-->
                <div *ngIf="erro" class="alert alert-danger mt-3 mb-0">{{erro}}</div>
            </form>

        </div>
    </div>
</div>
