<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form [formGroup]="formularioDeUsuario" class="box">

                <!--Imagem IFSC-->
                <div>
                    <img class="img" src="../../assets/img/logo_ifsc.png">
                </div>
                <!--Informações para o usuário-->
                <div>
                    <p class="info">Por favor, entre com seu CPF e senha.</p>
                </div>

                <!--Input do CPF-->
                <div class="form-group field">
                    <input type="text" formControlName="cpf" class="form-control" placeholder="000.000.000-00">
                    <div *ngIf="!cpf.pristine && cpf.errors">
                        <p *ngIf="cpf.errors.cpfInvalido">
                            Digite um CPF válido
                        </p>
                        <p *ngIf="cpf.errors.required">
                            CPF é obrigatório.
                        </p>

                    </div>
                </div>

                <!--Input da Senha-->
                <div class="form-group field">
                    <input type="password" formControlName="senha" class="form-control" placeholder="Senha">
                    <div *ngIf="!senha.pristine && senha.errors">
                        <p *ngIf="senha.errors.required">
                            Senha é obrigatória.
                        </p>
                    </div>
                </div>

                <div>
                    <div>
                        <button (click)="enviar()" [disabled]="!formularioDeUsuario.valid">Enviar</button>
                    </div>
                    <div>
                        <button (click)="sair()">Cadastre-se</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- TODO
    Colocar mascara no campo CPF
    Desabilitar o campo senha enquanto n houver CPF válido, e habilitar quando for válido
    Error Interceptor
-->