<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box">
                <div>
                    <div>
                        <img class="img" src="../../assets/img/logo_ifsc.png">
                    </div>
                    <div>
                        <p class="info">Por favor, entre com seu CPF e senha.</p>
                        <input type="text" name="" placeholder="CPF">
                        <input type="password" name="" placeholder="Senha">
                        <div>
                            <div>
                                <input type="submit" name="" value="Entrar" href="#">
                            </div>
                            <div>
                                <input type="submit" name="" value="Cadastre-se" href="#">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- TODO
    Colocar mascara no campo CPF
    Colocar verificação campo em branco
    Desabilitar o campo senha enquanto n houver CPF válido, e habilitar quando for válido
    Mudar posição texto input
-->