/*Centraliza todo o conteúdo na esquerda*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
 }

/*Imagem de fundo da página Login*/
.bodybg-color {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/ifsc.png) no-repeat bottom center;
  background-size: cover;
}

/*Estilo da Box*/
.box {
    width: 400px;
    padding: 30px;
    background:rgb(238,241,236);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    opacity: 0.8;
}


/*Estilo dos Inputs*/
.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s
}

/*Estilo dos Inputs*/
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 0 5px;
    text-align: center;
    border: 2px solid rgb(47,158,64);
    padding: 14px 40px;
    outline: none;
    color: rgb(47,158,64);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

/*Muda a cor de fundo e da letra quando o usuário passa o mouse em cima*/
.box input[type="submit"]:hover {
    background: rgb(47,158,64);
    color: rgb(238,241,236);
}

/*Centraliza e coloca os botões lado a lado*/
div > div {
    display: inline-block;
}

/*Estilo e tamanho da Imagem*/
.img{
    width: 150px;
    height: 218px;
    margin: 0 10px;
    vertical-align: bottom;
}

.info{
    color:black;
    font-weight: bolder;
}

/*Estilo do H1
.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500
}

Muda a cor da borda do Input quando o usuário clica em cima
.box input[type="text"]:focus,
.box input[type="password"]:focus {
    border-color: rgb(50,160,65)
}*/