<div class="card m-4" style="border-radius: 10px;">
    <div class="card-body">
        <div class="table-overflow">
            <table class="table">
                <thead>
                    <tr style="background-color:  rgb(47,158,64);color: white;">
                        <th style="vertical-align: middle;" scope="col">Nome</th>
                        <th style="vertical-align: middle;" scope="col">Descrição</th>
                        <th style="vertical-align: middle;" scope="col"
                            style="text-align: center; vertical-align: middle;">Quantidade de Participantes</th>
                        <th style="vertical-align: middle;" scope="col"
                            style="text-align: center; vertical-align: middle;">Participando</th>
                    </tr>
                </thead>
                <tbody *ngIf="!nenhumaSala">
                    <tr (click)="salaSelecionada($event, sala, i)" *ngFor="let sala of listaSalas; let i= index"
                        [ngClass]="{'data-selected': i == linhaSelecionada }">
                        <td style="vertical-align: middle;">{{sala.Nome}}</td>
                        <td style="vertical-align: middle;">{{sala.Descricao}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{sala.QtdParticipantes}}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <i *ngIf="sala.Participando" class="fas fa-check" style="color: rgb(47,158,64);"
                                [ngClass]="{'data-selected': i == linhaSelecionada && sala.Participando}"></i>
                            <i *ngIf="!sala.Participando" class="fas fa-times" style="color: red;"
                                [ngClass]="{'data-selected': i == linhaSelecionada && !sala.Participando}"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody class="no-border-x" *ngIf="nenhumaSala">
                    <tr *ngIf="nenhumaSala">
                        <td colspan="4" class="text-center text-muted">Nenhuma sala criada</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <button style="float: right;" (click)="entrarSala()" [disabled]="!selecionado"> <span *ngIf="carregar"
                class="spinner-border spinner-border-sm mr-1"></span>Entrar na Sala</button>
    </div>
</div>

<!--Modal para Senha-->
<div class="modal fade" style="text-align: center;" #modalSenha id="modalAlerta" tabindex="-1" role="dialog"
    aria-labelledby="modalAlertaLabel" aria-hidden="!carregar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>

                <!--Se acontecer erro, ele habilita essa opção-->
                <div class="alerta">
                    <img src="../../../assets/img/cadeado.svg" alt="">
                    <h3>Digite a senha da sala para ter acesso</h3>
                    <form class="col-lg-6 offset-lg-3" [formGroup]="formularioDeUsuario" (ngSubmit)="participarSala()">

                        <!--Input Senha-->
                        <div class="row justify-content-center">
                            <input type="password" formControlName="senha" class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid':!f.senha.pristine && f.senha.errors, 'is-valid': !f.senha.errors }" />
                            <div *ngIf="!f.senha.pristine && f.senha.errors" class="invalid-feedback">
                                <div *ngIf="f.senha.errors.required">Senha é obrigatória.</div>
                            </div>
                        </div>

                        <!--Botões do formulário-->
                        <div style="padding-top: 10%;" class="row justify-content-center">
                            <button [disabled]="!formularioDeUsuario.valid">
                                <span *ngIf="participar" class="spinner-border spinner-border-sm mr-1"></span>Entrar na
                                Sala</button>
                        </div>
                      
                    </form>
                    <div *ngIf="erro" class="alert alert-danger mt-2 mb-2">{{erro}}</div>
                </div>
            </div>

        </div>
    </div>
</div>