<div class="base">

  <!--1º Linha-->
  <!--Lista dos últimos 5 simulados-->
  <div class="row">
    <div class="col-12 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h4>Desempenho Geral dos últimos simulados</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="align-middle" style="width:25%;">Nome</th>
                    <th style="width:20%;" class="text-secondary text-center align-middle">Tipo do Simulado</th>
                    <th class="number" class="text-success text-center align-middle">Acertos</th>
                    <th style="width:15%;" class="text-danger text-center align-middle">Erros</th>
                    <th style="width:15%;" class="text-info text-center align-middle">Não respondidas</th>
                    <th style="width:15%;" class="text-secondary text-center align-middle">Data de Conclusão</th>
                    <th style="width:15%;" class="text-secondary text-center align-middle">Hora da Conclusão</th>
                    <th class="actions" style="width:2%;"></th>
                  </tr>
                </thead>
                <tbody class="no-border-x" *ngIf="!nenhumResultado">
                  <tr *ngFor="let ultimoresultado of ultimosResultados">
                    <td>{{ultimoresultado.Nome}}</td>
                    <td class="text-center text-secondary">{{getSimuladoPorId(ultimoresultado.TipoSimulado)}}</td>
                    <td class="text-center text-success">{{ultimoresultado.ResultadoGeral.Acertos}}</td>
                    <td class="text-center text-danger">{{ultimoresultado.ResultadoGeral.Erros}}</td>
                    <td class="text-center text-info">{{ultimoresultado.ResultadoGeral.NaoRespondidas}}</td>
                    <td class="text-center text-secondary">{{formatDate(ultimoresultado.DataEnvio)}}</td>
                    <td class="text-center text-secondary">{{formatTime(ultimoresultado.DataEnvio)}}</td>
                    <td class="text-center"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                </tbody>
                <tbody class="no-border-x" *ngIf="nenhumResultado">
                  <tr *ngIf="nenhumResultado">
                    <td colspan="6" class="text-center text-muted">Nenhum simulado realizado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--2º Linha-->
  <div class="row" *ngIf="!nenhumResultado">
    <!--Card menor do desempenho geral-->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-1">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Desempenho Geral</p>
              <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                {{resultadosGerais.ResultadoGeral.Acertos}}</h4>
              <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                {{resultadosGerais.ResultadoGeral.Erros}}</h4>
              <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                {{resultadosGerais.ResultadoGeral.NaoRespondidas}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-text-secondary text-muted">Questões realizadas</small>
          <small class="text-text-secondary ml-auto text-muted">
            {{resultadosGerais.ResultadoGeral.TotalQuestao}}
          </small>
        </div>
      </div>
    </div>
    <!--Card menor da Área de Fundamentos-->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-1">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Área de Fundamentos</p>
              <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                {{resultadosGerais.ResultadoFundamentos.Acertos}}</h4>
              <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                {{resultadosGerais.ResultadoFundamentos.Erros}}</h4>
              <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                {{resultadosGerais.ResultadoFundamentos.NaoRespondidas}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-text-secondary text-muted">Questões realizadas</small>
          <small class="text-text-secondary ml-auto text-muted">
            {{resultadosGerais.ResultadoFundamentos.TotalQuestao}}
          </small>
        </div>
      </div>
    </div>
    <!--Card menor da Área de Matemática-->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-1">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Área de Matemática</p>
              <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                {{resultadosGerais.ResultadoMatematica.Acertos}}</h4>
              <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                {{resultadosGerais.ResultadoMatematica.Erros}}</h4>
              <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                {{resultadosGerais.ResultadoMatematica.NaoRespondidas}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-text-secondary text-muted">Questões realizadas</small>
          <small class="text-text-secondary ml-auto text-muted">
            {{resultadosGerais.ResultadoMatematica.TotalQuestao}}
          </small>
        </div>
      </div>
    </div>
    <!--Card menor da Área de Tecnologia-->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-1">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Área de Tecnologia</p>
              <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                {{resultadosGerais.ResultadoTecnologia.Acertos}}</h4>
              <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                {{resultadosGerais.ResultadoTecnologia.Erros}}</h4>
              <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                {{resultadosGerais.ResultadoTecnologia.NaoRespondidas}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-text-secondary text-muted">Questões realizadas</small>
          <small class="text-text-secondary ml-auto text-muted">
            {{resultadosGerais.ResultadoTecnologia.TotalQuestao}}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!--3º Linha-->
  <div class="row">
    <!--Gráfico de barras do Desempenho Geral dos últimos simulados-->
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Desempenho Geral dos últimos simulados</h6>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-bar" width="2" height="1"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
    <!--Gráfico em Setores do Desempenho Geral-->
    <div class="col-12 col-xl-6 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Desempenho Geral</h6>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center"
            style="position: relative;">
            <canvas id="pie-desempenho-geral" style="height:100%"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
    <!--Gráfico Setores Acertos por Área-->
    <div class="col-12 col-xl-6 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Quantidade de Acertos por Área</h6>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center"
            style="position: relative;">
            <canvas id="pie-area-acertos" style="height:100%"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
    <!--Gráfico Setores Erros por Área-->
    <div class="col-12 col-xl-6 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Quantidade de Erros por Área</h6>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center"
            style="position: relative;">
            <canvas id="pie-area-erros" style="height:100%"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
    <!--Gráfico Setores Acertos por Disciplinas-->
    <div class="col-12 col-xl-6 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Quantidades de Acertos por disciplinas</h6>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center"
            style="position: relative;">
            <canvas id="pie-acertos" style="height:100%"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
    <!--Gráfico Setores Erros por Disciplinas-->
    <div class="col-12 col-xl-6 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-1">
        <div class="card-title mb-1 p-3 text-center">
          <h6>Quantidades de Erros por disciplinas</h6>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center"
            style="position: relative;">
            <canvas id="pie-erros" style="height:100%"></canvas>
          </div>
          <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
        </div>
      </div>
    </div>
  </div>

</div>