<div class="canvas_div_pdf">
  <div class="base">
    <!--1º Linha-->
    <!--Lista dos últimos 5 simulados-->
    <div class="row">
      <div class="col-12 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h4>Desempenho geral dos últimos simulados</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr>
                      <th class="align-middle" style="width:25%;">Nome</th>
                      <th style="width:20%;" class="text-secondary text-center align-middle">Tipo do Simulado</th>
                      <th class="number" class="text-success text-center align-middle">Acertos</th>
                      <th style="width:15%;" class="text-danger text-center align-middle">Erros</th>
                      <th style="width:15%;" class="text-info text-center align-middle">Não respondidas</th>
                      <th style="width:15%;" class="text-secondary text-center align-middle">Data de Conclusão</th>
                      <th style="width:15%;" class="text-secondary text-center align-middle">Hora da Conclusão</th>
                      <th class="actions" style="width:2%;"></th>
                    </tr>
                  </thead>
                  <tbody class="no-border-x" *ngIf="!nenhumResultado">
                    <tr *ngFor="let ultimoresultado of ultimosResultados">
                      <td>{{ultimoresultado.Nome}}</td>
                      <td class="text-center text-secondary">{{getSimuladoPorId(ultimoresultado.TipoSimulado)}}</td>
                      <td class="text-center text-success">{{ultimoresultado.ResultadoGeral.Acertos}}</td>
                      <td class="text-center text-danger">{{ultimoresultado.ResultadoGeral.Erros}}</td>
                      <td class="text-center text-info">{{ultimoresultado.ResultadoGeral.NaoRespondidas}}</td>
                      <td class="text-center text-secondary">{{formatDate(ultimoresultado.DataEnvio)}}</td>
                      <td class="text-center text-secondary">{{formatTime(ultimoresultado.DataEnvio)}}</td>
                      <td class="text-center"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                    </tr>
                  </tbody>
                  <tbody class="no-border-x" *ngIf="nenhumResultado">
                    <tr *ngIf="nenhumResultado">
                      <td colspan="6" class="text-center text-muted">Nenhum simulado realizado</td>
                    </tr>
                  </tbody>
                </table>
                <button (click)="getPdfGeral()" class="float-right btn-sm" >Baixar relatórios</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--2º Linha-->
    <div class="row" *ngIf="!nenhumResultado">
      <!--Card menor do desempenho geral-->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-1">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <i class="fas fa-chart-bar fa-3x" style="color: gray;"></i>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Desempenho Geral</p>
                <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                  {{resultadosGerais.ResultadoGeral.Acertos}}</h4>
                <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                  {{resultadosGerais.ResultadoGeral.Erros}}</h4>
                <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                  {{resultadosGerais.ResultadoGeral.NaoRespondidas}}</h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex ">
            <small class="text-text-secondary text-muted">Questões realizadas</small>
            <small class="text-text-secondary ml-auto text-muted">
              {{resultadosGerais.ResultadoGeral.TotalQuestao}}
            </small>
          </div>
        </div>
      </div>
      <!--Card menor da Área de Fundamentos-->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-1">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <i class="fas fa-shapes fa-3x" style="color: gray;"></i>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Área de Fundamentos</p>
                <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                  {{resultadosGerais.ResultadoFundamentos.Acertos}}</h4>
                <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                  {{resultadosGerais.ResultadoFundamentos.Erros}}</h4>
                <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                  {{resultadosGerais.ResultadoFundamentos.NaoRespondidas}}</h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex ">
            <small class="text-text-secondary text-muted">Questões realizadas</small>
            <small class="text-text-secondary ml-auto text-muted">
              {{resultadosGerais.ResultadoFundamentos.TotalQuestao}}
            </small>
          </div>
        </div>
      </div>
      <!--Card menor da Área de Matemática-->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-1">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <i class="fas fa-calculator fa-3x" style="color: gray;"></i>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Área de Matemática</p>
                <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                  {{resultadosGerais.ResultadoMatematica.Acertos}}</h4>
                <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                  {{resultadosGerais.ResultadoMatematica.Erros}}</h4>
                <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                  {{resultadosGerais.ResultadoMatematica.NaoRespondidas}}</h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex ">
            <small class="text-text-secondary text-muted">Questões realizadas</small>
            <small class="text-text-secondary ml-auto text-muted">
              {{resultadosGerais.ResultadoMatematica.TotalQuestao}}
            </small>
          </div>
        </div>
      </div>
      <!--Card menor da Área de Tecnologia-->
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-1">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <i class="fas fa-microchip fa-3x" style="color: gray;"></i>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Área de Tecnologia</p>
                <h4 class="card-text text-success text-right" style="font-size: 20px;">Acertos:
                  {{resultadosGerais.ResultadoTecnologia.Acertos}}</h4>
                <h4 class="card-text text-danger text-right" style="font-size: 20px;">Erros:
                  {{resultadosGerais.ResultadoTecnologia.Erros}}</h4>
                <h4 class="card-text text-info text-right" style="font-size: 20px;">Não respondidas:
                  {{resultadosGerais.ResultadoTecnologia.NaoRespondidas}}</h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex ">
            <small class="text-text-secondary text-muted">Questões realizadas</small>
            <small class="text-text-secondary ml-auto text-muted">
              {{resultadosGerais.ResultadoTecnologia.TotalQuestao}}
            </small>
          </div>
        </div>
      </div>
    </div>

    <!--3º Linha-->
    <div class="row">
      <!--Gráfico de barras do Desempenho Geral dos últimos simulados-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card border-0 1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho geral dos últimos simulados</h6>
          </div>
          <div class="card-body" style="background-color: white;">
            <div class="chart-container" style="position: relative;">
              <canvas id="chart-bar" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('chart-bar', 'Desempenho geral dos últimos simulados - Barra')"> <i
                class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>
      <!--Gráfico Misto do Desempenho Geral dos últimos simulados-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho geral dos últimos simulados</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="mixed-chart" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('mixed-chart', 'Desempenho geral dos últimos simulados - Misto')"> <i
                class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!--Gráfico em Setores do Desempenho Geral-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho geral</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="pie-desempenho-geral" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('pie-desempenho-geral', 'Desempenho geral')"> <i class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>

      <!--Gráfico em Barras Horizontal-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho por área</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="bar-chart-desempenho-area" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('bar-chart-desempenho-area', 'Desempenho por área')"> <i
                class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--4º Linha-->
    <div class="row">
      <!--Gráfico Setores Acertos por Área-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Quantidade de acertos por área</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="pie-area-acertos" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('pie-area-acertos', 'Quantidade de acertos por área')"> <i
                class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>
      <!--Gráfico Setores Erros por Área-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Quantidade de erros por área</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="pie-area-erros" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('pie-area-erros', 'Quantidade de erros por área')"> <i
                class="fa fa-download"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--5º Linha-->
    <div class="row">

      <!--Gráfico Barra Horizontal Desempenho por disciplinas na área de Area de Fundamentos-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho por disciplinas na área de Fundamentos da Computação</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="bar-chart-desempenho-disciplina-fundamentos" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('bar-chart-desempenho-disciplina-fundamentos', 'Desempenho por disciplinas na área de Fundamentos da Computação')">
              <i class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>

      <!--Gráfico Barra Horizontal Desempenho por disciplinas na área de Area de Matematica-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho por disciplinas na área de Matemática</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="bar-chart-desempenho-disciplina-matematica" style="height:100%"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('bar-chart-desempenho-disciplina-matematica', 'Desempenho por disciplinas na área de Matemática')">
              <i class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>
    </div>

    <!--7º Linha-->
    <div class="row">
      <!--Gráfico Barra Horizontal Desempenho por disciplinas na área de Area de Tecnologia-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1">
          <div class="card-title mb-1 p-3 text-center">
            <h6>Desempenho por disciplinas na área de Tecnologia</h6>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="bar-chart-desempenho-disciplina-tecnologia" style="height:100%;"></canvas>
              <div *ngIf="nenhumResultado" class="text-center text-muted">Nenhum simulado realizado</div>
            </div>
            <button class="float-right btn-sm" *ngIf="!nenhumResultado"
              (click)="getPdfEspecifico('bar-chart-desempenho-disciplina-tecnologia', 'Desempenho por disciplinas na área de Tecnologia')">
              <i class="fa fa-download"></i> </button>
          </div>
        </div>
      </div>

      <!--Informações sobre o sistema-->
      <div class="col-12 col-xl-6 mb-4 align-items-stretch">
        <div class="card h-100 border-0 rounded-1" style="padding-top: 10%;">
          <div class="card-title mb-1 p-3 text-center">
            <h2>Sobre</h2>
          </div>
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <i class="fas fa-info-circle fa-7x" style="color: gray;"></i>
              <div style="padding-left: 2%;" class="ml-auto">
                <p class="card-label text-center text-muted">
                  Sistema de simulados desenvolvido no Instituto Federal de Santa Catatina - Campus Lages
                  <br>Desenvolvedores: Tiago Correia Ribeiro e Wilson Fernandes Córdova Junior
                  <br>Orientador: Wilson Castello Branco Neto            
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>