<div class="card m-5">
    <div class="card-body">
        <img src="../../../../assets/img/test.svg" class="center"alt="">
        <div class="text-center">
            <button [disabled]="desabilitar" (click)="buscarGabarito()"><span *ngIf="carregarGabarito"
                    class="spinner-border spinner-border-sm mr-1"></span>Conferir Gabarito</button>
            <button [routerLink]="'/aluno/dashboard'">Dashboard</button>
            <button [routerLink]="'/aluno/listasimulados'">Simulados</button>
        </div>
    </div>
</div>