ol,ul {
    padding-left: 0%;
    list-style:none;
}

h5{
    color: rgb(238,241,236);
    position: absolute;
    width: 100%;
    top: 20vh;    
}

.click:focus{
    background-color:  rgb(238,241,236) !important;
    color: rgb(47,158,64);
}

.titulo{
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    text-align: center;
    overflow: visible;
    vertical-align: middle;
    height: 0;
    color: rgb(47,158,64);
}

/* Configurações para dispositivos móveis no modo paisagem*/
@media only screen and (hover: none) and (pointer: coarse) and (orientation:landscape){
    h5{
        top: 21vh;  
    }
}