<ng-sidebar-container style="height: 100vh;">

    <!-- A sidebar -->
    <ng-sidebar [closeOnClickOutside]='true' [mode]="'over'" [(opened)]="aberta">
        <div>
            <!--Itens superiores da sidebar-->
            <div style="position: relative; left: 0; top: 0;">
                <img src="../../../../assets/img/ifsc-colorido.jpg" class="fundo" />
                <button class="botaoFecharSidebar" (click)="botaoSidebar()">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
                <img *ngIf="base64Image" class="perfil" [src]="getImagem()">
                <img *ngIf="base64Image == null  || base64Image == ''" src="../../../../assets/img/usuario.svg"
                    class="perfil">
                <h5>{{usuario.Nome}}</h5>
            </div>

            <!--Lista de botões-->
            <ul>
                <li><button routerLink="dashboard" (click)="botaoSidebar()" class="listaBotoesSidebar">
                        <i class="fas fa-signal"></i> &nbsp;&nbsp;&nbsp;Dashboard
                    </button></li>
                <li><button routerLink="listasimulados" (click)="botaoSidebar()" class="listaBotoesSidebar">
                        <i class="fas fa-list-ul"></i> &nbsp;&nbsp;&nbsp;Criar Simulado
                    </button></li>
                <li><button routerLink="sala" (click)="botaoSidebar()" class="listaBotoesSidebar">
                        <i class="fas fa-chalkboard-teacher"></i> &nbsp;&nbsp;&nbsp;Participar da Sala
                    </button></li>
                <li><button routerLink="configuracoes" (click)="botaoSidebar()" class="listaBotoesSidebar">
                        <i class="fas fa-sliders-h"></i> &nbsp;&nbsp;&nbsp;Configurações
                    </button></li>
                <li><button routerLink="suporte" (click)="botaoSidebar()" class="listaBotoesSidebar">
                        <i class="fas fa-life-ring"></i> &nbsp;&nbsp;&nbsp;Suporte
                    </button></li>
                <li><button (click)="logout()" class="listaBotoesSidebar">
                        <i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;&nbsp;Sair
                    </button></li>
            </ul>


        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <nav class="navbar">
            <button class="botaoAbrirSidebar" (click)="botaoSidebar()" [disabled]="bloquearBotaoNavbar()">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <h3 class="titulo">{{ tituloNavbar }}</h3>
        </nav>
        <div *ngIf="spinnerCarregamento">
            <div class="text-center">
                <div class="spinner-border text-success" style="width: 4rem; height: 4rem; margin-top: 15rem;"
                    role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <router-outlet *ngIf="!spinnerCarregamento"></router-outlet>
    </div>
</ng-sidebar-container>