/*Remove o estilo padrão das listas*/
ol, ul {
    list-style: none;
    padding-left: 0px;
}

li {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
input {
    visibility:hidden;
}
label {
    height: auto;
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
input:checked + label {
    background: rgb(47,158,64);
    color: white;
}

.questaoheader{
    text-align: left;
}

.tempo{
    text-align: right;
    
}

.math{
    text-align: justify;
    
}

.imagemPergunta{
    margin-left: 25%;
    width: 50%;
}

.imagemAlternativas{
    width: 15%;
}

.botoes{
    float: right;
}

/*Estilo do alerta*/
.alerta{
	width:100%;
 	padding:20px;
	text-align:center;
}

.alerta img{
	width:50%;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.cancelar{
    border: 2px solid #DC3545;
    color: #DC3545;
    float: right;
}

.cancelar:hover:enabled {
    background: #DC3545;
    color: rgb(238,241,236);
}

@media(max-width: 767px){
    .questaoheader{
        text-align: center;
    }
    .tempo{
        text-align: center;
    }   
    .disciplina{
        text-align: center;
    }
}

/*Cores da progressbar*/
::ng-deep .mat-progress-bar-fill::after {
    background-color:rgb(47,158,64);
}

::ng-deep .mat-progress-bar-buffer {
    background: #d8f3dc;
}

::ng-deep .mat-progress-bar {
    border-radius: 1px;
}

