<div class="card m-4">
    <div class="card-header">
        <div class="form-row">
            <div class="col-md mb-1">
                <h5 class="questaoheader">Questão ({{ index + 1}}/{{ quantidadeQuestoes }})</h5>
            </div>
            <div class="col-md mb-1">
                <h5 class="tempo">
                    <countdown #cd [config]="tempo" (event)="getTempoAtual($event)"></countdown>
                </h5>
            </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="progresso"></mat-progress-bar>
    </div>

    <div class="card-body">

        <div class="form-row">
            <div class="col-md mb-1">
                <h5 class="questaoheader">Área: {{ area }}</h5>
            </div>
            <div class="col-md mb-1">
                <h5 class="tempo">Ano: {{ simulado[index].Ano }}</h5>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md mb-1">
                <h6 class="disciplina">Disciplina: {{ disciplina }}</h6>
            </div>
        </div>

        <div class="form-row">
            <!--Pergunta-->
            <div class="col-md mb-1">
                <ng-katex-paragraph class="math" [paragraph]="simulado[index].Descricao"></ng-katex-paragraph>
            </div>
        </div>

        <div *ngIf="imagem" class="form-row">
            <div class="col-md mb-1">
                <img class="imagemPergunta" [src]="getImagem()">
            </div>
        </div>

        <div class="form-row">
            <!--Alternativas-->
            <div class="col-md mb-1">
                <form [formGroup]="formulario">
                    <ul>
                        <li>
                            <input type="radio" formControlName="alternativas" name="alternativas" value="A"
                                id="alternativaA">
                            <label for='alternativaA'>a)
                                <ng-katex-paragraph class="math" [paragraph]="simulado[index].AlternativasA">
                                </ng-katex-paragraph>
                            </label>
                        </li>
                        <li>
                            <input type="radio" formControlName="alternativas" name="alternativas" value="B"
                                id="alternativaB">
                            <label for='alternativaB'>b)
                                <ng-katex-paragraph class="math" [paragraph]="simulado[index].AlternativasB">
                                </ng-katex-paragraph> </label>
                        </li>
                        <li>
                            <input type="radio" formControlName="alternativas" name="alternativas" value="C"
                                id="alternativaC">
                            <label for='alternativaC'>c)
                                <ng-katex-paragraph class="math" [paragraph]="simulado[index].AlternativasC">
                                </ng-katex-paragraph>
                            </label>
                        </li>
                        <li>
                            <input type="radio" formControlName="alternativas" name="alternativas" value="D"
                                id="alternativaD">
                            <label for='alternativaD'>d)
                                <ng-katex-paragraph class="math" [paragraph]="simulado[index].AlternativasD">
                                </ng-katex-paragraph></label>
                        </li>
                        <li>
                            <input type="radio" formControlName="alternativas" name="alternativas" value="E"
                                id="alternativaE">
                            <label for='alternativaE'>e)
                                <ng-katex-paragraph class="math" [paragraph]="simulado[index].AlternativasE">
                                </ng-katex-paragraph></label>
                        </li>
                    </ul>
                </form>
            </div>
        </div>



        <!--Botões do formulário-->
        <div class="form-row">
            <div class="col-md mb-1">
                <button (click)="proximaQuestao()" [disabled]="!formulario.valid" class="botoes"><span *ngIf="carregar"
                        class="spinner-border spinner-border-sm mr-1"></span> {{ textoBotao }}</button>
            </div>
        </div>
    </div>
</div>