<div class="card m-4">
    <div class="card-header">
        <div class="form-row">
            <div class="col-md mb-1">
                <h5 class="questaoheader">Questão (1/20)</h5>
            </div>
            <div class="col-md mb-1">
                <h5 class="tempo">
                    <countdown #cd  [config]="tempo" (event)="getTempoAtual($event)"></countdown>
                </h5>
            </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>

    <div class="card-body">

        <div class="form-row">
            <!--Pergunta-->
            
            <div class="col-md mb-1">
                <ng-katex-paragraph class="math" [paragraph]="paragraph"></ng-katex-paragraph>
            </div>

            <div *ngIf="imagem" class="col-md mb-1">
                <img loading="lazy" class="imagemPergunta" src="{{imagem}}">
            </div>
        </div>

        <div class="form-row">
            <!--Alternativas-->
            <div class="col-md mb-1">
                <ul class="listaRespostas">
                    <li>
                        <label>
                            <input type="radio" name="alternativa" value="0" id="alternativaA"> Alternativa A</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="alternativa" value="1" id="alternativaB"> Alternativa B</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="alternativa" value="2" id="alternativaC"> Alternativa C</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="alternativa" value="3" id="alternativaD"> Alternativa D</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="alternativa" value="4" id="alternativaE"> Alternativa E</label>
                    </li>
                </ul>
            </div>
        </div>

        <!--Botões do formulário-->
        <div class="form-row">
            <div class="col-md mb-1">
                <button (click)="proximaQuestao()" class="botoes">Próxima Questão</button>
                <button (click)="finalizarSimulado()" class="botoes">Finalizar Simulado</button>
            </div>
        </div>
    </div>
</div>