<div class="card m-4">
    <div class="card-header" >
        <div class="form-row">
            <div class="col-md mb-1">
            <h5 class="questaoheader">Questão (1/20)</h5></div>
            <div class="col-md mb-1">
            <h5 class="tempo">30:20</h5></div>
        </div>
        
    </div>
    
    <div class="card-body">
        <div class="form-row">
            <!--Perguntas-->
            <div class="col-md mb-1">
                <p style="text-align: justify;">Está em discussão, na sociedade brasileira, a possibilidade de uma reforma política e eleitoral. Fala-se, entre outras propostas, em financiamento público de campanhas, fidelidade partidária, lista eleitoral fechada e voto distrital. Os dispositivos ligados à obrigatoriedade de os candidatos fazerem declaração pública de bens e prestarem contas dos gastos devem ser aperfeiçoados, os órgãos públicos de fiscalização e controle podem ser equipados e reforçados.
                Com base no exposto, mudanças na legislação eleitoral poderão representar, como principal aspecto, um reforço da</p>
            </div>
        </div>

        <div class="form-row">
            <!--Alternativas-->
            <div class="col-md mb-1">
                <ul class="answerList">
                    <li>
                        <label>
                            <input type="radio" name="answerGroup" value="0" id="answerGroup_0"> Alternativa A</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="answerGroup" value="1" id="answerGroup_1"> Alternativa B</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="answerGroup" value="2" id="answerGroup_2"> Alternativa C</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="answerGroup" value="3" id="answerGroup_3"> Alternativa D</label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="answerGroup" value="4" id="answerGroup_4"> Alternativa E</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-row">
            <!--Input da Descrição-->
            <div class="col-md mb-1">

            </div>
        </div>

        <div class="form-row">
            <!--Input da Tipo Simulado-->
            <div class="col-md mb-1">

            </div>
        </div>

        <!--FIXME ver a melhor forma que fica posicionado os proximos dois inputs-->
        <div class="form-row">
            <!--Input da Quantidade de Questões-->
            <div class="col-md mb-1">

            </div>
        </div>

        <div class="form-row">
            <!--Input da Tempo do Simulado-->
            <div class="col-md mb-1">

            </div>
        </div>
        <!--Botões do formulário-->
        <div class="text-center">
            <button style="float: right;">Próxima</button>
        </div>
    </div>
</div>