/*Remove o estilo padrão das listas*/
ol, ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 2%;
}

.listaRespostas li {
    padding: 3px 0;
}

.listaRespostas label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.questaoheader{
    text-align: left;
}

.tempo{
    text-align: right;
    
}

.math{
    text-align: justify;
   
}

.imagemPergunta{
    margin-top: 10%;
    margin-left: 10%;
    width: 75%;
}

@media(max-width: 767px){
    .questaoheader{
        text-align: center;
    }
    .tempo{
        text-align: center;
    }
}

/*Cores da progressbar*/
::ng-deep .mat-progress-bar-fill::after {
    background-color:rgb(47,158,64);
}

::ng-deep .mat-progress-bar-buffer {
    background: #d8f3dc;
}

::ng-deep .mat-progress-bar {
    border-radius: 1px;
}