<div class="suporte">
  <form [formGroup]="formularioDeUsuario" class="col-12">

    <!--Input do Assunto-->
    <div class="col">
      <div class="form-group">
        <input type="text" formControlName="assunto" class="form-control" placeholder="Assunto"
          [ngClass]="{ 'is-invalid':!f.assunto.pristine && f.assunto.errors, 'is-valid': !f.assunto.errors  }">
        <div *ngIf="!f.assunto.pristine && f.assunto.errors" class="invalid-feedback">
          <div *ngIf="f.assunto.errors.required">
            Assunto é obrigatório.
          </div>
        </div>
      </div>
    </div>

    <!--Input da Descrição-->
    <div class="col-md mb">
      <div class="form-group">
        <textarea type="text" formControlName="descricao" placeholder="Descrição do assunto" class="form-control"
          id="exampleFormControlTextarea1" rows="13"
          [ngClass]="{ 'is-invalid': !f.descricao.pristine && f.descricao.errors, 'is-valid': !f.descricao.errors }"></textarea>
        <div *ngIf="!f.descricao.pristine && f.descricao.errors" class="invalid-feedback">
          <div *ngIf="f.descricao.errors.required">
            Descrição é obrigatória.
          </div>
          <div *ngIf="f.descricao.errors.minlength">
            Descrição muito curta.
          </div>
        </div>
      </div>
    </div>

    <button style="float:right;" [disabled]="!formularioDeUsuario.valid">Enviar</button>
  </form>
</div>