/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/*Imagem de fundo da página Login*/
.bodybg-background {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(assets/img/ifsc.png) no-repeat bottom center;
    background-size: cover;
  }


/*Estilo dos Inputs*/
.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid black;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 10px;
}

/*Estilo dos botões*/
.box button {
    background: none;
    display: block;
    margin: 0 5px;
    text-align: center;
    border: 2px solid rgb(47,158,64);
    padding: 14px 40px;
    outline: none;
    color: rgb(47,158,64);
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}
