@import '~bootstrap/dist/css/bootstrap.min.css';

/*Imagem de fundo das páginas Login e Cadastro*/
.bodybg-background {
  background: url(assets/img/ifsc.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
/*Estilo dos botões*/
button {
    background: none;
    margin: 5px !important;
    margin-bottom: 20px !important;
    text-align: center;
    border: 2px solid rgb(47,158,64);
    padding: 7px 25px;
    color: rgb(47,158,64);
    border-radius: 10px !important;
    cursor: pointer;
}

/*Muda o estilo do botão quando o mesmo estiver desabilitado*/
button:disabled{
    border: 2px solid gray;
    color: gray;
    cursor: unset;
}

/*Muda a cor de fundo e da letra quando o usuário passa o mouse em cima do botão*/
button:hover:enabled {
    background: rgb(47,158,64);
    color: rgb(238,241,236);
}

/*Remove a borda preta que o bootstrap adiciona*/
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }

/*Estilo da sidebar*/
.ng-sidebar{
    background-color: rgb(238,241,236);
    height: 100vh; 
    width: 22vw;
    text-align: center;
    align-items: center;
}

/*Imagem que fica atrás da foto do usuário*/
.fundo{
    width: 22vw; 
    height: 30vh;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
}

/*Estilo da imagem do usuário*/
.perfil {
    background-color: rgb(47,158,64);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 2vh;
    left: 7.7vw;
}

.navbar{
    width: 100vw;
    background-color: rgb(238,241,236);
    text-align: center;
}




